@section head{
    <script>
        $(function () {
            var jobListUrl = '@Url.Action("All", "JobList", new { area = "Api" })';
            $('#target').allJobSelect({ url: jobListUrl, initialOption: {text: "Select job", value: ""} }).change(function () {
                var value = $(this).val();
                $('div').show('slow');
                $('#source').allJobSelect({ url: jobListUrl, exceptWithValue: value });
            });
        });
    </script>
    <style>
        div span
        {
            float: left;
            width: 170px;
            margin-top: 5px;
        }
        div
        {
            margin-bottom: 10px;
        }
        div.source, div.submit
        {
            display: none;
        }
    </style>
}
<h2>
    Job Diff</h2>
<form method="get" action="@Url.Action("ShowDiff")">
<div class="target">
    <span>Select the target job (newer):</span>
    <select id="target" name="TargetJobId">
    </select>
</div>
<div class="source">
    <span>Select the source job (older):</span>
    <select id="source" name="SourceJobId">
    </select></div>
<div class="submit">
    <button type="submit">
        View Diff</button>
</div>
</form>
