@model nTestSwarm.Controllers.LoginInput

    @Html.ValidationSummary()

    @{ Html.EnableClientValidation(); }

    @using (Html.BeginForm())
    {
        @Html.EditorForModel()
        <input type="submit" value="Login"/>
    }
    
    <a href="@Url.Action("Index","User")">Register</a> if you do not have an account on the site.