@model nTestSwarm.Application.Queries.GetProgram.ProgramViewModel
@{
    ViewBag.Title = "Create Program";
    Html.EnableClientValidation();
}

<h2>Create Program</h2>

@Html.Partial("_validationSummary.cshtml")

@using (Html.BeginForm("Create", "Program", FormMethod.Post, new { @class = "form-horizontal" })) {
    @Html.EditorFor(x => x)
    
    <div class="control-group">
        <div class="controls"><input type="submit" value="Save" class="save-button" /></div>
    </div>
}
