@model nTestSwarm.Application.Queries.GetProgram.ProgramViewModel
@{
    ViewBag.Title = "Edit Program";
    Html.EnableClientValidation();
}

<h2>Edit Program</h2>

@Html.Partial("_validationSummary.cshtml")

@using (Html.BeginForm("edit", "program", new { area = "api" }, FormMethod.Post, new { @class = "form-horizontal" })) {
    @Html.HiddenFor(x => x.ProgramId)
    @Html.EditorFor(x => x)
    
    <div class="control-group">
        <div class="controls"><input type="submit" value="Save" class="save-button" /></div>
    </div>
}
