@model nTestSwarm.Application.Queries.GetProgramDetails.ProgramDetailsViewModel
@{
    ViewBag.Title = "Program";
}

<h2>Program Details</h2>

<div class="row">
    <div class="span2 display-label">Name</div>
    <div class="span4 display-values">@Model.Name</div>
</div>
<div class="row">
    <div class="span2 display-label">Job Desc Url</div>
    <div class="span4 display-values">@Model.JobDescriptionUrl</div>
</div>
<div class="row">
    <div class="span2 display-label">Default Max Runs</div>
    <div class="span4 display-values">@Model.DefaultMaxRuns</div>
</div>
<div class="row">
    <div class="span2 display-label">Name</div>
    <div class="span4 display-values">
        @Html.DisplayTextFor(x => x.DefaultMaxRuns)
    </div>
</div>

