@model nTestSwarm.Application.Queries.GetProgram.ProgramViewModel
@{
    ViewBag.Title = "Edit Program";
}

<h2>Edit Program</h2>


<div class="errors">
    @Html.ValidationSummary()
</div>

@using (Html.BeginForm("Create", "Program", new { area = "Api" }, FormMethod.Post, new { @class = "form-horizontal" })) {
    @Html.HiddenFor(x => x.ProgramId)
    @Html.EditorFor(x => x)
    
    <div class="control-group">
        <div class="controls"><input type="submit" value="Save" class="save-button" /></div>
    </div>
}
