@model nTestSwarm.Areas.Api.Models.QueueJobForProgramViewModel
@{
    ViewBag.Title = "QueueJob";
}

<h2>Queue JobId</h2>

@using (Html.BeginForm("QueueJob", "Program", new { area = "Api" }, FormMethod.Post, new { @class = "form-horizontal" })) {
    @Html.Partial("~/Views/Shared/_validationSummary.cshtml");
    
    <div class="control-group">
        <label for="programId" class="control-label">Programs</label>
        <div class="controls">
            @Html.DropDownList("programId", Model.Programs)
        </div>
    </div>
        
    <div class="control-group">
        <label for="url" class="control-label">URL</label> 
        <div class="controls">
            <input type="text" id="url" name="url" />
        </div>
    </div>
    
    <div class="control-group">
        <label for="correlation" class="control-label">Correlation</label>
        <div class="controls">
            <input type="text" id="correlation" name="correlation" />
        </div>
    </div>

    <div class="control-group">
        <label for="maxruns" class="control-label">Max Runs</label>
        <div class="controls">
            <input type="text" id="maxruns" name="maxruns" />
        </div>
    </div>

    <div class="control-group">
        <div class="controls"><input type="submit" value="Queue" class="save-button" /></div>
    </div>
}
