@import-once "bootstrap/bootstrap";
@import-once "_colors";

@panel-border-radius: 6px;

.makePanel() {
	border: 1px solid @panel-border-color;
	.border-radius(@panel-border-radius);
	.box-shadow(0 1px 2px rgba(0,0,0,.075));
	padding: 10px;
	margin-bottom: 20px;
}

#program-details {
	.makePanel();

	height: 300px;
	.clearfix();
	
	> .panel {
		padding: 10px;	
		padding-bottom: 0;
	}

	#program-panel {
		.border-radius(@panel-border-radius);
		float: left;
		width: 450px;
		background-color: #f0f0f0;
	}

	#job-status-panel {
		.makeColumn(5);
		.border-radius(@panel-border-radius);
	}

	.display-label {
		float: left;
		width: 130px;
	}

	.display-values {
		float: left;
		width: 300px;
		margin-left: 20px;
	}
}

.read-only-form {
	.display-label {
		font-weight: bold;
		text-align: right;
	}
		
	.row {
		margin-bottom: 10px;
		margin-left: 0; //overriding bootstrap
	}
}
